<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>
	<!-- DB四要素 -->
	<property name="hibernate.connection.driver_class">
		com.mysql.jdbc.Driver
	</property>
	<property name="hibernate.connection.url">
		jdbc:mysql://127.0.0.1:3306/test
	</property>
	<property name="hibernate.connection.username">root</property>
	<property name="hibernate.connection.password">123456</property>
	<!-- 方言的配置 -->
	<property name="hibernate.dialect">
		org.hibernate.dialect.MySQL5Dialect
	</property>
	<!-- 数据源C3P0：数据库连接池  -->
	<property name="hibernate.connection.provider_class">
		org.hibernate.c3p0.internal.C3P0ConnectionProvider
	</property>
	<!-- 注册当前session上下文
		thread：保证同一个线程里面取到的session是同一个session
		jta:分布式系统用到
		springSessionContext:ssh整合的时候用到
	-->
	<property name="hibernate.current_session_context_class">
		thread
	</property>
	<!-- 自动建表  
		create:每次建表的时候都会将原表删掉创建新表
		update:如果没有表新建表，如果有表直接进行更新操作
	-->
	<property name="hibernate.hbm2ddl.auto">update</property>
	<!-- 显示SQL -->
	<property name="hibernate.show_sql">true</property>
	<!-- 格式化SQL -->
	<property name="hibernate.format_sql">true</property>
	<!-- 注册映射文件 -->
	<mapping resource="com/hibernate/bean/Studnet.hbm.xml" />
</session-factory>

</hibernate-configuration>